// @MIXINS

@mixin d-flex-align-center {
    display: flex;
    align-items: center;
}

@mixin bg-center-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}