// RESETS - UTILITY CLASSES

@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.sectionTitle {
    text-transform: capitalize;
    font-size: 2.2rem;
}

.sectionLittleTitle {
    text-transform: capitalize;
    color: $full-green;
}